<h2>Singles</h2>
<table>
	<tr>
		<td>Count:</td>
		<td>
			<input type="text" name="cardcount" id="CardCount" class="addCardsInput" tabindex="1" />
		</td>
		<td rowspan="2">
			<select id='setSuggestions' class='setSuggestion' multiple="multiple"></select>
		</td>
	</tr>
	<tr>
		<td>
			Name:
		</td>
		<td>
			<input type="text" name="cardname" id="CardName" class="addCardsInput" tabindex="2"/>
			<div class="cardSuggestionContainer" id="cardSuggestionBox">foobar</div>
		</td>
	</tr>
</table>
<input type="button" onclick="javascript:SingleCardSubmit()" value="Add" />
<div id="MessageBox"></div>
</br>
</br>
<textarea id="groupCardArea" rows="15" cols="60"></textarea>
</br>
Set:<input type="text" id="groupSetText" />
<input type="button" onclick="javascript:multipleCardSubmit()" value="Add All" />