{% include "pages.twig" %}
<table>
<tr>
	<td>#</td>
	<td>Card Name</td>
	<td>Set</td>
	<td>Date Made</td>
</tr>
{% for change in changes %}
	{% include "cardchangerow.twig" %}
{% endfor %}
</table>
{% include "pages.twig" %}